{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{param1}}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
    <p>Address and Contact Number:</p>
    <p>G/F, Best-O-Best Commercial Centre, 32-36 Ferry Street, Yau Ma Tei, Kowloon</p>
    <p>Phone: 27823104</p>
    <p></p>
    </div>
    <div class="row">
    <p>G/F, Man Sang Commercial Building, 348-352 Prince Edward Road West, Kowloon City, Kowloon</p>
    <p>Phone: 27184074</p>
    <p></p>
    </div>
    <div class="row">
    <p>Fine Mansion, 32-40 Village Road, Happy Valley, Hong Kong</p>
    <p>Phone: 25736016</p>
    <p></p>
    </div>    
</div>
{% endblock %}
